*.png
*.bak
/db
/simulation
/incremental_db
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
/hc_output
/output_files
/.sopc_builder
/sopc_builder_log.txt
/nios_system_log.txt
*.html
*.bsf
*.ptf.*
/.metadata
*.elf
*.map
*.objdump
obj
*.swp
*.a
nios_workspace
